.nav {   
  // overflow: visible;
  background-color: #99a799;
  position: absolute;
  top: 0;
  height: 7vh;
  width: 100%;
  margin: -8px;
 
a, a[class="active"], .navh3 {
  float: right;
  display: inline;
  font-size: 1.5vw;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  margin: 5px;
  margin-top: 2vh;
  }
  .navh3 {
    float: left;
    font-size: 2vw;
  }
  /* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  div.example {
    font-size: 1vw;
  }
}

// /* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 300px) {
  div.example {
    font-size: 0.8vw;
  }
}
}

