.nav {
  a[class="active"] {
    // background-color: darkorange;
    display: none;
    color: #87AAAA;
    text-decoration: none;
  }

  a.historynav {
    // background-color: darkorange;
    display: inline;
    color: #87AAAA;
    text-decoration: none;
    margin: 2%;
  }
}

