.about{
    border: 3px solid rgba(212, 236, 221, 0.2);
    background-color: rgba(212, 236, 221, 0.2);
    border-radius: 20px;
    color: #fff;
}
.abouth1{
    font-size: 3em;
    text-align: center;
}
.abouth3{
    font-size: 2em;
    text-decoration: underline;
}