.aboutbody{
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v944-bb-16.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=49254eaa250246663b88061a8f6a9469');
    margin: 0;
}
.abouth1{
    padding-top: 50px;
    font-size: 5vw;
    text-align: center;
    color: #87AAAA;
    text-align: center;
}
.aboutsec1, .aboutsec2{
    border: 3px solid rgba(153, 167, 153, 0.8);;
    background-color: rgba(153, 167, 153, 0.8);;
    border-radius: 20px;
    font-size: 1.5vw;
    color: #fff;
    margin: 20px;
}
.trackmoodsection, .benefitssection {
    background: rgba(231, 231, 231, 0.3);
    border-radius: 12px;
    height: 100%;
    margin: 20px;
    padding: 10px;
}
.abouth3{
    font-size: 2.5vw;
    text-decoration: underline;
    color: #fff;
    text-align: center;
}