@font-face {
  font-family: 'Marcellus', serif, 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: 'Marcellus', serif, 'Open Sans', sans-serif;
  // background-image: url("https://images.pexels.com/photos/1924867/pexels-photo-1924867.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  // background-image: url('https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-color: #112031;
  margin: 0px;
}

html {
  box-sizing: border-box;
}
button.moodBtn{
  display: block;
  padding: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem;
}
nav{
  margin-left: 70%;
}