@font-face {
  font-family: 'Marcellus', serif, 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: 'Marcellus', serif, 'Open Sans', sans-serif;
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v944-bb-16.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=49254eaa250246663b88061a8f6a9469');
  margin: 0px;
}

html {
  box-sizing: border-box;
}
button.moodBtn{
  display: block;
  padding: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
