@font-face {
  font-family: 'Marcellus', serif, 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: 'Marcellus', serif, 'Open Sans', sans-serif;
  // background-image: url('https://images.unsplash.com/photo-1445510491599-c391e8046a68?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80');
  background-color: #091353;
  margin: 0px;
}

html {
  box-sizing: border-box;
}
button.moodBtn{
  display: block;
  padding: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem;
}
nav{
  margin-left: 70%;
}